figure{
    margin-top: 4rem;
    display: flex;
    background-color: red;
    justify-content: center;
    column-gap: 10px;

}
@media screen and (max-width:630px){
 figure{
    flex-direction: column;
    flex-wrap:wrap;
    row-gap:10px;
 } 
 
 
}