.navbar-container{
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: rgb(15, 17, 59);
    color: white;
    margin-bottom: 5px;
    position: sticky;
    top: 0;
}
.navbar-container .navbar-links{
    align-items: center;
   
    display: flex;
    justify-content: space-between;
    margin-right: 60px;
}
.navbar-container .navbar-link{
    margin: 10px;
  
    
}
.navbar-container .logo img{
    height: 100px;
    border-radius: 50%;
    width: 100px;
}
