header{
    display: flex;
    padding:1rem;
    background-color: rgb(75, 27, 120);
    gap: 10px;
}
.logo{
    flex-basis: 20%;
    display: flex;
}
img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    
}
nav{
    flex-basis: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:inherit;
}
a{
    flex-basis: 100%;
    font-size: 20px;
    padding: 7px;
    background-color: rgb(134, 81, 183);
    border-radius: 7px;
}
.form{
    flex-basis: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.form input{
    padding:10px;
    border-radius: 10px;
    font-size: 20px;
    outline: none;
    border: none;
}
.form input::placeholder{
    font-weight: 600;
    text-align: center;
}
@media screen and (max-width: 630px){
    header{
        flex-wrap: wrap;
        
    }
    nav{
        flex-basis: 100%;
        order:1;
    }
    
}