.footer-container{
    background-color: black;
    color: rgb(250, 243, 243);
    height: 300px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}